<!--toppages#indexで開く。ルートで開く-->
<div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to the Microposts</h1>
    <!--ユーザ登録リンクをはる-->
    <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>
